.time{
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .time div{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
  }
  .time_selectBox{
    width: 200px;
    height: 60px;
    border: .5px solid #333;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time input{
    width: 20px;
    height: 20px;
  }
  .time_content{
    flex-wrap: wrap;
  }