

.process_cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card {
    width: 11.25rem;
    border: 1.5px solid #333;
    color: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 11.25rem;
    font-size: 1.5rem;
    font-weight: 600;
  }