

.process_cards {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card {
    width: 180px;
    height: 180px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 180px;
    font-size: 1.5rem;
    font-weight: 600;
  }