.estimate_container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.form_container {
  width: 50%;
  font-family: 'GmarketSansMedium';
}

.form_container h3 {
  font-size: 3rem;
  font-family: 'Freesentation-9Black';
  padding-bottom: 2rem;
}

.form_container form label {
  font-weight: 600;
}

.form_container form div {
  padding: 15px 0;
}

@media (max-width: 768px) {
  .estimate_container{
    width: 100%;
  }
}


@media (max-width: 420px) {
  .estimate_container{
    width: 100%;
  }
  .form_container h3 {
    font-size: 1.4rem;
  }
  .estimate_container{
    font-size: 1rem;
  }
  .form_container form input{
    font-size: .8rem;
  }
  .form_container form textarea{
    font-size: .8rem;
  }
}