
.request{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 60px;
  }
  .request button{
    width: 60%;
    padding: 1.1rem 0;
    border-radius: 6px;
    background-color: rgb(99, 107, 248);
    color: #fff;
    font-weight: 600;
  }
  .request button:active{
    background-color: rgb(138, 144, 252);
  }